<%= form_for(@gameplay) do |f| %>
  <% if @gameplay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gameplay.errors.count, "error") %> prohibited this gameplay from being saved:</h2>

      <ul>
      <% @gameplay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user1_id %><br />
    <%= f.number_field :user1_id %>
  </div>
  <div class="field">
    <%= f.label :user2_id %><br />
    <%= f.number_field :user2_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
