<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- 
  <div class="field">
    <%= f.label :game_status %><br />
    <%= f.number_field :game_status %>
  </div>
  <div class="field">
    <%= f.label :whos_turn %><br />
    <%= f.number_field :whos_turn %>
  </div>
  <div class="field">
    <%= f.label :spaces %><br />
    <%= f.text_area :spaces %>
  </div>
 -->
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
