
<head>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="games.css.scss">
<link href='http://fonts.googleapis.com/css?family=Dosis:300|Permanent+Marker' rel='stylesheet' type='text/css'>
<!-- 
font-family: 'Dosis', sans-serif;
font-family: 'Permanent Marker', cursive; -->
</head>


<body class="background">

<h1 class="connect_four_title"> CONNECT FOUR WITH FRIENDS </h1> 

<div class="logout_stuff">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></div>

<!-- :email, :password, :password_confirmation, :remember_me, 
:username, :first_name, :last_name, :country -->

<h3 class="index_title">Welcome <%= current_user.username %>!</h3>

<h3 class="index_active_games_title">Your active games:</h3>

<% @selected_games.each do |game| %>

  <% if current_user.id == game.user1_id %>
    <p class = "index_game_list"> Game <%= game.id %> with <%= User.find(game.user2_id).username %> 
      <% if game.whos_turn == current_user.id %>
      <%= link_to 'Your turn!', game %>
      <% else %>
      <%= link_to 'Waiting for opponent', game %>
      <% end %></p>
  <% elsif current_user.id == game.user2_id %>
    <p class = "index_game_list"> Game <%= game.id %> with <%= User.find(game.user1_id).username %> 
      <% if game.whos_turn == current_user.id %>
      <%= link_to 'Your turn!', game %>
      <% else %>
      <!-- HOW TO STYLE THIS, MAKE IT A BUTTON, OR MAKE IT RED? -->
      <%= link_to 'Waiting for opponent', game %>
      <% end %></p>
  <% end %>
<% end %>

<br />


<!-- NEED TO NOT MAKE THE NAME A BUTTON BUT LIKE A CLICKABLE LINK -->

<h3 class="index_users_list_title"> Start a new game! Click on a username to start. </h3>
<div class="index_all_users_list">
<% @user_without_current_user.each do |user| %>
  <p>
  <%= form_tag(games_path, :method => "post") do %>
    <input type='hidden' value="<%= user.id %>" name='opponent'/>
    <button type="submit"><%= user.username %></button> 
  <% end %></p>
<% end %>
</div>

</body>

