

<p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
<!--   <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | -->
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>


<!-- :email, :password, :password_confirmation, :remember_me, 
:username, :first_name, :last_name, :country -->

<p> You are <%= current_user.first_name %> <%= current_user.last_name %>, from <%= current_user.country %>. Your username in Connect 4 With Friends is <%= current_user.username %> and your password for this site is <%= current_user.password %>. OH. And you id number in this game is <%= current_user.id %> </p>


<h1>Listing all my active games</h1>

<table>
  <tr>
    <th>Game status</th>
    <th>Whos turn</th>
    <th>User 1 (should be currently logged in user)</th>
    <th>User 2 (should be the opponent)</th>
    <!-- <th>Spaces</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selected_games.each do |game| %>
  <tr>
    <td><%= game.game_status %></td>
    <td><%= game.whos_turn %></td>
    <td><%= game.user1_id %></td>
    <td><%= game.user2_id %></td>
    <!-- 
    <td><%= game.spaces %></td> -->
    <% if game.whos_turn == current_user.id %>
    <td><%= link_to 'Your turn!', game %></td>
    <% else %>
    <td><%= link_to 'Waiting', game %></td>
    <% end %>
    <!-- <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />


<!-- NEED TO NOT MAKE THE NAME A BUTTON BUT LIKE A CLICKABLE LINK -->
<h2> Click on user to start game with them </h2>
<% @user_without_current_user.each do |user| %>
<p><%= user.id %>. 
<%= form_tag(games_path, :method => "post") do %>
<input type='hidden' value="<%= user.id %>" name='opponent'/>
<button type="submit"><%= user.username %></button> 
<% end %>
  , <%= user.country %></p>
<% end %>




<%= link_to 'New Game', new_game_path %>
