<p id="notice"><%= notice %></p>

<p>
  <b>Game status:</b>
  <%= @game.game_status %>
</p>

<p>
  <b>Whos turn:</b>
  <%= @game.whos_turn %>
</p>

<!-- 
k = Marshal.load(@game.spaces) 

NOTE THAT: 
GAME_STATUS = 0 IF ON-GOING, 1 IF WIN OR DRAW. 
WHOS_TURN = USER ID NUMBER OF USER 1/USER 2
SPACES = A STRING/TEXT LOADED ONTO MARSHALL DUMP

<% @board = [[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0]] %>

-->

<% @board = @game.spaces %>

<p><%= "|#{@board[1][1]}|#{@board[2][1]}|#{@board[3][1]}|#{@board[4][1]}|#{@board[5][1]}|#{@board[6][1]}|#{@board[7][1]}|" %></p>
<p><%= "|#{@board[1][2]}|#{@board[2][2]}|#{@board[3][2]}|#{@board[4][2]}|#{@board[5][2]}|#{@board[6][2]}|#{@board[7][2]}|" %></p>
<p><%= "|#{@board[1][3]}|#{@board[2][3]}|#{@board[3][3]}|#{@board[4][3]}|#{@board[5][3]}|#{@board[6][3]}|#{@board[7][3]}|" %></p>
<p><%= "|#{@board[1][4]}|#{@board[2][4]}|#{@board[3][4]}|#{@board[4][4]}|#{@board[5][4]}|#{@board[6][4]}|#{@board[7][4]}|" %></p>
<p><%= "|#{@board[1][5]}|#{@board[2][5]}|#{@board[3][5]}|#{@board[4][5]}|#{@board[5][5]}|#{@board[6][5]}|#{@board[7][5]}|" %></p>
<p><%= "|#{@board[1][6]}|#{@board[2][6]}|#{@board[3][6]}|#{@board[4][6]}|#{@board[5][6]}|#{@board[6][6]}|#{@board[7][6]}|" %></p>
    

<!-- Note that the name is basically the key with which the value will be stored against in the params hash that the form will save to. -->




<% if current_user.id == @game.whos_turn %>

  <% if current_user.id == @game.user1_id %>
    <h1> YOU ARE X. CHOOSE COLUMN TO PLACE YOUR TOKEN </h1> 
  <% elsif current_user.id == @game.user2_id %>
    <h1> YOU ARE *. CHOOSE COLUMN TO PLACE YOUR TOKEN </h1>
  <% end %>

  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="1" name='column'/>
  <button type="submit">Column 1</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="2" name='column'/>
  <button type="submit">Column 2</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="3" name='column'/>
  <button type="submit">Column 3</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="4" name='column'/>
  <button type="submit">Column 4</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="5" name='column'/>
  <button type="submit">Column 5</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="6" name='column'/>
  <button type="submit">Column 6</button> 
  <% end %>
  <%= form_tag(game_path(@game), :method => "put") do %>
  <input type='hidden' value="7" name='column'/>
  <button type="submit">Column 7</button> 
  <% end %>

<% end %>

 <h4> send an e-mail from here. its pretty crazy I know. Do it anyway. </h4>


<form action="/send_email" method="post">
  <label> To </label>
  <div><input type="email" placeholder="Send to (email address)" name="to"></div>
  <div><input type="text" placeholder="Your subject" name="subject"></div>
  <div><%= text_area_tag(:body, "", :placeholder => "Enter your message") %></div>
  <div><%= submit_tag "Send yo e-mail" %></div>
</form>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

